@model IEnumerable<LibraryManagementSystem.Models.Book>

<h2>Book List</h2>

<a href="/Books/Create" class="btn btn-success mb-2">Add New Book</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Total Copies</th>
            <th>Available</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.Author</td>
                <td>@b.Category</td>
                <td>@b.TotalCopies</td>
                <td>@b.AvailableCopies</td>
                <td>
                    <a href="/Books/Edit/@b.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/Books/Delete/@b.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
